* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --light-color: #aedada;
    --accent-color: #1a6766;
}

body{
    background-color: var(--light-color);
}

.dashboard-container {
    background-color: white;
    min-height: 90vh;
    max-width: 1240px;
    margin: 0px auto;
    margin-top: 20px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
}

.sidebar{
    background-color: #f2f2f2;
    width: 100px;
    padding: 20px;
}

main{
    padding: 20px;
    width: 100%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding: 20px;
}

table h1 {
    background-color: aqua;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 20px;
}

tr:nth-child(even) {
    background-color: #D6EEEE;
}

.delete-project-btn {
    background-color: #0400ff;
    color: white;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 5px;

} 


.text {
    margin: 100px;
}